//
// Production .xcconfig
//

// Include Pods config.
#include "Pods/Target Support Files/Pods-Tinodios/Pods-Tinodios.release.xcconfig"

// Server URL
HOST_NAME = fochat.saleswarp.com
// Use TLS (https, wss)
USE_TLS = YES

// App Settings
APP_NAME = BrightSide

SERVICE_NAME= BrightSide

// Branding Configuration
SERVICE_NAME = BrightSide
TOS_URL = qixsecure.com/terms
PRIVACY_URL = qixsecure.com/privacy
API_HOST = fochat.saleswarp.com
API_URL = 'https://storm.saleswarp.com/bvfo-dev'
APP_ID = QixSecure
USE_HTTPS = YES

// Versioning. The values are automatically updated by a build script.
GIT_TAG = 1.24.3
GIT_COMMIT_COUNT = 1828

TINODE_API_KEY = AQAAAAABAAByCoXpLdVgii7-77YqZ6S4
