//
// Production .xcconfig
//

// Include Pods config.
#include "Pods/Target Support Files/Pods-Tinodios/Pods-Tinodios.release.xcconfig"

// Server URL
HOST_NAME = fochat-dev.saleswarp.com
// Use TLS (https, wss)
USE_TLS = YES

// App Settings
APP_NAME = BrightSide

SERVICE_NAME= BrightSide

// Branding Configuration
SERVICE_NAME = BrightSide
TOS_URL = qixsecure.com/terms
PRIVACY_URL = qixsecure.com/privacy
API_HOST = fochat-dev.saleswarp.com
APP_ID = QixSecure
USE_HTTPS = YES

// Versioning. The values are automatically updated by a build script.
GIT_TAG = ab69a0dc98058bf540494bba837e93f99e54cec
GIT_COMMIT_COUNT = 1841

TINODE_API_KEY = AQAAAAABAAByCoXpLdVgii7-77YqZ6S4
