//
// Production .xcconfig
//

// Include Pods config.
#include "Pods/Target Support Files/Pods-Tinodios/Pods-Tinodios.release.xcconfig"

// Server URL
HOST_NAME = fochat-dev.saleswarp.com
// Use TLS (https, wss)
USE_TLS = YES

// App Settings
APP_NAME = QixSecure BCP

// Branding Configuration
SERVICE_NAME = QixSecure
TOS_URL = qixsecure.com/terms
PRIVACY_URL = qixsecure.com/privacy
API_HOST = fochat-dev.saleswarp.com
APP_ID = QixSecure
USE_HTTPS = YES

// Versioning. The values are automatically updated by a build script.
GIT_TAG = 0c6438f2a1a05f1eb42ce8f72c82c38f02ff4d5
GIT_COMMIT_COUNT = 1834

TINODE_API_KEY = AQAAAAABAAByCoXpLdVgii7-77YqZ6S4
